@charset "UTF-8";

/*
     em HTML é id = em CSS é # (só pode um elemento)
     em HTML é classe = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(235, 247, 216);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: black(147, 255, 253);
}

h1#principal{
    text-align: center;
    background-color: aqua;
    color: white;
}

h2{
    color: black(252, 215, 169);
    
}

.basico{
    color:rgb(105, 221, 105)
}

.intermediario{
    color: rgb(215, 215, 89);
}

.avancado{
    color: rgb(220, 95, 95);
}

.destaque{
    background-color: rgb(166, 166, 18);
}