@charset "UTF-8";

*{
   margin: 0;
   padding: 0;
}

html, body{
    min-width: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    padding-top: 50px;
    font-variant: small-caps; /* letras maisculas outra formas de letras mauisculas text-tranform: uppercase*/
}

header > p{
    padding-bottom: 50px;
}

 header a , footer a {
   color: white;
   text-decoration: none;
   font-weight: bolder;
}

header a:hover , a:hover{
    text-decoration: underline;
}

section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(22, 22, 22);
    color:white;
}

section.imagen > p{
    width: 400px;
    background-color: rgb(123, 121, 121);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}