@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-image:linear-gradient(to right, #80F2DD,#80F2DD);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(86, 93, 96, 0.475);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color:#F2594B ;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(85, 29, 24, 0.529);
}

h2{
   color: #F2B441;
}

p{
    text-align: justify;
}